<main class="content-main">
  <h1>Latest News</h1>
  <p>
    Não perca nenhuma novidade! Receba as últimas notícias diretamente no seu
    email. Mantenha-se informado de tudo o que acontece assinando nosso serviço
    de envio de noticias
  </p>
  <span>Junte-se aos {{lengthSubscribe}} inscritos</span>
  <form action="/sendemail" method="POST">
    <label for="">
      <input id="email" name="email" placeholder="email" type="text" />
    </label>
    <button type="submit">inscreve-se</button>
  </form>
</main>